@import "src/assets/styles/colors.scss";
@import "src/assets/styles/functions.scss";

.sensors-card {
  @apply mt-6 px-4 py-6 rounded-xl flex flex-row justify-between items-center bg-white;
  min-width: 290px;
  max-width: 380px;
  box-shadow: none !important;
}

.sensors-card-text {
  @apply flex flex-col;
}

.sensors-card-text p {
  @apply text-xs font-normal;
  color: $dark-secondary-text;
}

.sensors-card-text h3 {
  @apply text-xl font-bold;
  color: #22242C;
}


.sensors-card-icon{
  @apply p-4 rounded-full flex;
  background-color: #EFF2F7;
 }

.sensors-card-icon > .mat-icon {
  @apply inline-block;
  font-size: 24px;
  color: get-color($primary-palette, 500);
}

.sensor-alerts-icon{
  @apply rounded-full flex items-center justify-center;


 }

.sensor-alerts-icon > .mat-icon {
  @apply inline-flex items-center justify-center;
  font-size: 12px;
}

.sensors-alert-number {
  @apply text-xs ml-2;
  color: #000;

}

.ok {
  background-color: get-color($success-palette, 50);
}

.ok > .mat-icon {
  color: get-color($success-palette, 500);
}

.warning {
  background-color: get-color($warning-palette, 50);
}

.warning > .mat-icon {
  color: get-color($warning-palette, 500);
}

.error {
  background-color: get-color($error-palette, 200);
}

.error > .mat-icon {
  color: get-color($error-palette, 500);
}

.alert {
  background-color: get-color($orange-palette, 50);
}

.alert > .mat-icon {
  color: get-color($orange-palette, 500);
}
