<div class="login-form-container">

  <div class="login-form-content">
    <h2 class="login-form-title">Portal de monitoreo</h2>
    <h3 class="login-form-subtitle">Iniciar sesión</h3>

    <form  [formGroup]="form" (ngSubmit)="handleLogin($event)">

      <!-- Email Field-->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        @if (getError('email', 'invalidEmail') && !getError('email', 'required')) {
          <mat-error>Por favor ingrese un email válido</mat-error>
        }
        @if (getError('email', 'required') && form.get('email')?.touched) {
          <mat-error>Correo es obligatorio</mat-error>
        }
      </mat-form-field>


      <!--Password Field-->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput [type]="hide() ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if (getError('password', 'minlength') && !getError('password', 'required')) {
          <mat-error>La contraseña debe ser minimo de 6 caracteres</mat-error>
        }
        @if (getError('password', 'required') && form.get('email')?.touched) {
          <mat-error>Correo es requerido</mat-error>
        }
      </mat-form-field>

      <div class="login-form-actions">
        <p class="inline-block">¿Olvidaste tu contraseña?</p>
        <button mat-flat-button class="p-40" type="submit" [disabled]="form.invalid" >Iniciar sesión</button>
      </div>

    </form>

    <p class="login-form-politics">Protegido por reCAPTCHA y sujeto a la <span>Política de Privacidad</span> y
      <span>Condiciones</span>.</p>
  </div>

</div>
